1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "04090000"
  {
   VALUE "CompanyName", "Nevilon Software\000"
   VALUE "FileDescription", "Nevod AntiSpam\000"
   VALUE "FileVersion", "1.4.2.12\000"
   VALUE "LegalCopyright", "Copyright \251 2006  Nevilon Software. All Rights Reserved.\000"
   VALUE "OriginalFilename", "Nevod.exe\000"
   VALUE "ProductName", "Nevod AntiSpam\000"
   VALUE "ProductVersion", "1.4.2.12\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 0
 }

}
